

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}



h1 {
  font-size: 40px;
  text-align: left;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

i {
  font-size: 100px;
}

img {
  max-width: 100%;
  height: auto;
}


.w3-sidebar {
  width: 15%;
}


.w3-container {
  margin-left: 15%;
}


@media (max-width: 600px) {

 
  .w3-sidebar {
    width: 100% !important;
    height: auto !important;
    position: relative !important;
  }

  
  .w3-container {
    margin-left: 0 !important;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }

  button {
    width: 90%;
    font-size: 18px;
    display: block;
    margin: 10px auto;
  }

  i {
    font-size: 50px;
    display: block;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}